<div class="form-group">
    <label for="customerName">Customer name</label>
    <input required type="text" name="customerName" id="customerName" class="form-control">
</div>

<div class="form-group">
    <label for="returnDate">Return date</label>
    <input required type="text" name="returnDate" id="returnDate" class="form-control">
</div>
 
<div class="form-group">
    <label for="nodeId">Node ID</label>
    <input required type="text" name="nodeId" id="nodeId" class="form-control">
</div>
 
<div class="form-group">
    <label for="failure">Failure</label>
    <input required type="text" name="failure" id="failure" class="form-control">
</div>
<a href="/" class="btn btn-secondary mt-2">Cancel</a>

<button type="submit" class="btn btn-primary mt-2">Save</button>